---
import type { GetStaticPaths } from "astro";
import { TagList } from "@/components/tag-list";
import { ArticleRepositoryImpl } from "@/infrastructure/file-system/article-repository";
import { TagRepositoryImpl } from "@/infrastructure/file-system/tag-repository";
import Shell from "@/layouts/shell.astro";

export const getStaticPaths = (async () => {
	const tagRepository = new TagRepositoryImpl();
	const articleRepository = new ArticleRepositoryImpl(tagRepository);
	const articles = await articleRepository.getAll();
	return articles.map((article) => ({
		params: { id: article.id },
		props: { article },
	}));
}) satisfies GetStaticPaths;

const { article } = Astro.props;
const { Content } = article;
---

<Shell>
  <main>
    <article class="max-w-4xl mx-auto px-4 my-8 lg:my-10">
      <div class="prose lg:prose-lg prose-slate">
        <h1 class="mb-3 lg:mb-4">{article.title}</h1>
      </div>

      <div class="flex flex-col gap-1 mb-8 lg:mb-10">
        <div class="flex gap-2 text-sm">
          <span>
            <time datetime={article.publishedDate.toISOString()}>{article.publishedDateStr}</time>
            {article.updatedDate && "公開,"}
          </span>
          {article.updatedDate && (
            <span>
              <time datetime={article.updatedDate.toISOString()}>{article.updatedDateStr}</time>
              更新
            </span>
          )}
        </div>
        {article.tags && <TagList tags={article.tags} />}
      </div>

      <div class="prose lg:prose-lg prose-slate">
        <Content />
      </div>
    </article>
  </main>
</Shell>
