---
import { OgType, site } from "@/constant";
import Layout from "@/layouts/layout.astro";
import { ArticleRepository } from "@/repositories/article";
import type { GetStaticPaths } from "astro";

export async function getStaticPaths(): Promise<ReturnType<GetStaticPaths>> {
	const articleRepository = new ArticleRepository();
	const articles = await articleRepository.findAll();
	const paths = articles.map((article) => ({
		params: {
			id: article.id,
		},
	}));
	return paths;
}

const { id } = Astro.params;
const articleRepository = new ArticleRepository();
const article = await articleRepository.find(String(id));
---

<Layout pageTitle={`${article.title} | ${site.title}`} ogType={OgType.Article}>
  <h1>{article.title}</h1>
  <div set:html={article.content} />
</Layout>
